{{# section 'css'}}
    <style>
        /*header {height: 120px; border-bottom: 1px solid black}*/
        table {margin:120px auto;}
        th {text-align: right;padding: 10px}
    </style>
{{/section}}
{{# section 'script'}}
    <script src="/js/login.js"></script>
{{/section}}
<main>
    <section>
        <h2>로그인</h2>
        <form name="login">
        <table>
            <tr>
                <th>아이디</th>
                <td rowspan="3"></td>
                <td><label for="userid"></label>
                    <input type="text" name="userid" id="userid"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><label for="passwd"></label>
                    <input type="password" name="passwd" id="passwd"></td>
            </tr>
            <tr>
                <th></th>
                <td><button type="button" id="loginbtn">로그인</button> </td>
            </tr>
        </table>
        </form>
    </section>
</main>