{{# section 'css'}}
    <style>
        /*header {height: 120px; border-bottom: 1px solid black}*/
        table {margin:120px auto;}
        th {text-align: right;padding: 10px}
    </style>
{{/section}}
<main>
    <h2>회원정보</h2>
    <div>
        <table>
            {{# islogin}}
            <tr>
                <th>아이디</th>
                <td rowspan="4"></td>
                <td><label for="userid"></label>
                    <input type="text" name="userid" id="userid"
                           readonly value="{{userid}}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><label for="name"></label>
                    <input type="text" name="name" id="name"
                           readonly value="{{name}}"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><label for="email"></label>
                    <input type="text" name="email" id="email"
                           readonly value="{{email}}"></td>
            </tr>
            <tr>
                <th>가입일</th>
                <td><label for="date"></label>
                    <input type="text" name="date" id="date"
                           readonly value="{{regdate}}"></td>
            </tr>
            {{/islogin}}
        </table>
    </div>
</main>