{{# section 'css'}}
    <style>
        #write {width: 560px;}
        .drgup {vertical-align: top}
        /*header {height: 120px; border-bottom: 1px solid black}*/
        table {margin:120px auto;}
        th {text-align: right;padding: 10px}
    </style>
{{/section}}

{{# section 'script'}}
    <script src="../js/write.js"></script>
{{/section}}

<main>
        <h2>새글 쓰기</h2>
        <form name="writefrm" id="write">
        <div>제 목</div>
        <div><label for="title"></label>
            <input type="text" name="title" id="title"></div>
        <div>작성자</div>
        <div><label for="userid"></label>
            <input type="text" name="userid" id="userid"
                   readonly value="zzyzzy"></div>
        <div>작성게시판</div>
        <div><label for="catalog"></label>
            <select name="catalog" id="catalog">
                <option>--게시판--</option>
                <option>정보게시판</option>
                <option>유머게시판</option>
                <option>비밀게시판</option>
                <option>자유게시판</option>
            </select>
        </div>
        <div >본문</div>
        <div><label for="contents" class="drgup"></label>
            <textarea name="contents" id="contents" cols="70" rows="25"></textarea></div>
        <div><button type="button" id="writebtn">작성완료</button>
            <button type="button"><a href="">작성취소</a></button></div>
        </form>
</main>